body {
  background-color: slategray;
}

main {
  margin: 0 auto;
  max-width: 80%;
  display: grid;
  grid-template-areas: "basic extra";
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#basic-info {
  grid-area: basic;
}

#extra-info {
  grid-area: extra;
}

/* Utility class to center items on the page */
.center-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}